<h1>List of Uploaded CSV Files:</h1>
<ul>
  <% for(let file of files){%>
  <li>
    <h2>
      <a href="/csv/displayData/<%=file.id%>">
        <h4><%= file.originalname%></h4>
      </a>
      <span class="delete"> <a href="/csv/delete/<%=file.id%>">Delete</a></span>
    </h2>
  </li>
  <%}%>
</ul>
